<div class="container">
  <div id="gallery" style="display: none;">
    <% @photos.each do |photo| %>
      <a href="<%= photo_path(photo) %>">
        <img alt="<%= photo.name %>" src="<%= photo.photo.url(:medium) %>" data-image="<%= photo.photo.url %>" data-description="<%= photo.description %>" style="display: none" />
      </a>
    <% end %>
  </div>
</div>

<div class="search-container">
  <div class="container">
    <i class="fa fa-times btn-close"></i>
    <%= form_tag(search_result_path, method: 'POST', class: 'search-form') do %>
        <div id="map" style='width: 100%; height: 500px;'></div>
        <div class="form-group">
          <%= text_field_tag(:name, nil, class: 'form-control', placeholder: 'Photo name', autofocus: 'autofocus') %>
        </div>
        <div class="actions">
          <%= submit_tag "Search", class: 'btn btn-block btn-primary' %>
        </div>
        <%= hidden_field_tag 'latitude'%>
        <%= hidden_field_tag 'longitude'%>
        <%= hidden_field_tag 'radius'%>
    <% end %>
  </div>
</div>

<div class="search-toggle" data-toggle="tooltip" data-placement="left" title="Or press 'S' key"></div>

<script type="text/javascript">
  $(function () {
    // Initialize gallery
    $('#gallery').unitegallery({
      gallery_theme: 'tiles',
      tiles_type: 'nested',
      tile_show_link_icon: true,
      tile_link_newpage: false,
      tiles_nested_optimal_tile_width: 400,
      tiles_space_between_cols: 6,
      tiles_space_between_cols_mobile: 6,
      tiles_min_columns: 1
    });

    // Initialize search
    var $search = $('.search-container');

    function showSearch() {
      $search.addClass('open');
      $search.find('.form-control').first().focus();
      google.maps.event.trigger(handler.getMap(), 'resize');
    }

    function closeSearch() {
      $search.removeClass('open');
    }

    $(document).on('keyup', function (event) {
      if (event.keyCode === 83) { // press 's'
        showSearch();
      } else if (event.keyCode === 27) { // press 'ESC'
        closeSearch();
      }
    });

    $('.btn-close').on('click', closeSearch);

    $('.search-toggle').on('click', function () {
      showSearch();
    });

    // Tooltip
    $('[data-toggle="tooltip"]').tooltip();
  });

  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){

    circle = handler.addCircle({'lat': 10.779131, 'lng': 106.697319, radius: 804.67200},{ strokeColor: '#3399ff', strokeOpacity: 1, fillColor: 'transparent', editable: true, event: "aaaaa" })
    handler.circle = circle
    handler.circle.getServiceObject().center_changed = function(event) {
      update()
    };
    handler.circle.getServiceObject().radius_changed = function(event) {
      update()
    };
    handler.bounds.extendWith(circle);
    handler.fitMapToBounds()
    handler.getMap().setZoom(15)
    update()

//    real_markers.forEach(function(m, index){
//      google.maps.event.addListener(m.getServiceObject(), 'click', function(object){
//      });
//    });
    google.maps.event.addListener(handler.getMap(), 'click', function( event ){
      if (handler.circle) {
        handler.removeMarker(handler.circle)
      }

      circle = handler.addCircle({'lng': event.latLng.lng(), 'lat': event.latLng.lat(), radius: 804.67200},{ strokeColor: '#3399ff', strokeOpacity: 1, fillColor: 'transparent', editable: true, event: "aaaaa" })
      handler.circle = circle
      handler.circle.getServiceObject().center_changed = function(event) {
        update()
      };
      handler.circle.getServiceObject().radius_changed = function(event) {
        update()
      };
      handler.bounds.extendWith(circle);
      handler.fitMapToBounds()
      update()
    });
  });

  function update() {
    $('#latitude').val(handler.circle.getServiceObject().center.lat());
    $('#longitude').val(handler.circle.getServiceObject().center.lng());
    $('#radius').val(handler.circle.getServiceObject().radius);
  };

</script>
